# Pandas

In [2]:
import pandas as pd

#Read the csv file and assign the content to 'poke_data' variable
data = pd.read_csv('Pokemon.csv')    

#let's try to print first 3 rows to control
print(data.head(3))

print("---------------------------------")


#This looks better:
data.head(3)

   #       Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0  1  Bulbasaur  Grass  Poison    318  45      49       49       65       65
1  2    Ivysaur  Grass  Poison    405  60      62       63       80       80
2  3   Venusaur  Grass  Poison    525  80      82       83      100      100

   Speed  Generation  Legendary
0     45           1      False
1     60           1      False
2     80           1      False
---------------------------------

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [65]:
#If it is an excel file then type 
#data_xlsx = pd.read_excel('Pokemon.xlsx')

#txt files
# data_txt = pd.read_csv('Pokemon.txt', delimiter = '\t')
#you can custom delimeter parameter

In [50]:
#Read The column labels
print(data.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [51]:
#Read a specific column
print(data['Type 1'][0:6])

print("---------------------------------")

#Read a specific column 2
print(data.Defense[0:12])

print("----------------------------------")

#Read columns
print(data[['Name', 'Type 1', 'Attack']].head(6))

0    Grass
1    Grass
2    Grass
3    Grass
4     Fire
5     Fire
Name: Type 1, dtype: object
---------------------------------
0      49
1      63
2      83
3     123
4      43
5      58
6      78
7     111
8      78
9      65
10     80
11    100
Name: Defense, dtype: int64
----------------------------------
                    Name Type 1  Attack
0              Bulbasaur  Grass      49
1                Ivysaur  Grass      62
2               Venusaur  Grass      82
3  VenusaurMega Venusaur  Grass     100
4             Charmander   Fire      52
5             Charmeleon   Fire      64

In [52]:
#Specified row
print(data.iloc[2]) 

print("----------------------------------")

#Specified rows
print(data.iloc[[0,2]]) 

print("----------------------------------")

#specify (row,column)
print(data.iloc[2,1])

#                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
Total              525
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object
----------------------------------
   #       Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0  1  Bulbasaur  Grass  Poison    318  45      49       49       65       65
2  3   Venusaur  Grass  Poison    525  80      82       83      100      100

   Speed  Generation  Legendary
0     45           1      False
2     80           1      False
----------------------------------
Venusaur

In [53]:
#Access group of values using labels
data.loc[data['Type 2'] == "Poison"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
53,48,Venonat,Bug,Poison,305,60,55,50,40,55,45,1,False
54,49,Venomoth,Bug,Poison,450,70,65,60,90,75,90,1,False
75,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
78,72,Tentacool,Water,Poison,335,40,40,35,50,100,70,1,False
79,73,Tentacruel,Water,Poison,515,80,70,65,80,120,100,1,False
99,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False
100,93,Haunter,Ghost,Poison,405,45,50,45,115,55,95,1,False
101,94,Gengar,Ghost,Poison,500,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
181,167,Spinarak,Bug,Poison,250,40,60,40,40,40,30,2,False
182,168,Ariados,Bug,Poison,390,70,90,70,60,60,40,2,False
227,211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False
292,269,Dustox,Bug,Poison,385,60,50,70,50,90,65,3,False
344,315,Roselia,Grass,Poison,400,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,280,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
604,544,Whirlipede,Bug,Poison,360,40,55,99,40,79,47,5,False
605,545,Scolipede,Bug,Poison,485,60,100,89,55,69,112,5,False
651,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [55]:
#Generate descriptive statistics
data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [59]:
#Sorting values
data.sort_values('Total', ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
288,265,Wurmple,Bug,NaN,195,45,45,35,20,30,20,3,False
446,401,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False
322,298,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False

In [62]:
data.sort_values(['Total', 'Attack'], ascending=[False, 1])
#You can use 1 or 0 instead of True or False

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
288,265,Wurmple,Bug,NaN,195,45,45,35,20,30,20,3,False
446,401,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False
322,298,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False

## Making Changes

In [98]:
#Changing and assigning value
data['Total'] = data['HP'] + data['Attack'] + data['Defense'] + data['Sp. Atk'] + data['Sp. Def'] + data['Speed']

#Alternative


data.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [95]:
#Dropping some columns
#tThat returns DataFrame without the removed index or column labels.
df = data.drop(columns = ['Total', 'Defense'])
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,60,50,65,1,False

In [99]:
data['Total'] = data.iloc[:, 4:10].sum(axis=1)
data.head(7)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,591,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,750,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,970,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,1170,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,553,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,730,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,968,78,84,78,109,85,100,1,False

In [101]:
#Write object to a csv file.
#data.to_csv('modified.csv', index=False)

#Write object to an Excel sheet.
#data.to_excel('modified.xlsx', index=False)

#Write object to a txt file.
#data.to_csv('modified.txt', index=False, sep = '\t')

In [102]:
#Compute mean of groups, excluding missing values
data.groupby(['Type 1']).mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,696.173913,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,815.322581,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,1018.031250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,802.318182,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,777.764706,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,766.814815,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,841.711538,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,867.500000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,814.781250,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,780.357143,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,811.093750,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,803.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,731.816327,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,734.714286,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,870.403509,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,851.590909,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,920.148148,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,794.946429,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [128]:
#Compute count of group, excluding missing values.
data['count'] = 6

data.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [4]:
#Return TextFileReader object for iteration - chunksize
#for data in pd.read_csv('Pokemon.csv', chunksize = 20000):
    #print("\n************************************************\n")
    #print(data)